body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(rgb(205, 223, 157),rgb(225, 133, 133),rgb(91, 91, 204)
    );
}
.navbar{
    height: 18vh;
    width: 100vw;
    background-color: rgb(37, 37, 66);
}
.nav1{
    height: 11vh;
    width: 100vw;
    background-color: rgb(37, 37, 66);
    padding: 4px;
    display: flex;
}
.nav1 .img{
    height: 10vh;
    width: 10vw;
    background-image: url(start.png);
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
}
.nav1 .img:hover{
    border: 2px solid whitesmoke;
}
.location{
    height: 10vh;
    width: 15vw;
    background-color: rgb(37, 37, 66);
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 6px;
    transition: 0.5s;
    padding: 2px;
}
.location:hover{
    border: 2px solid white;
}
.location i{
    margin-top: 1rem;
    margin-right: 10px;
    font-size: 1.2rem;
}
.location .para{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.para .p1{
    font-size: 14px;
}
.para .p2{
    font-weight: 800;
    font-size: 16px;
    margin-right: 44px;
}
.searchbar{
    height: 7.5vh;
    width: 50vw;
    background-color: rgb(51, 61, 61);
    margin-top: 0.45rem;
    display: flex;
    align-items: center;
}
.searchbar .drop1 a{
    background-color: rgb(229, 229, 220);
    color: black;
}
.searchbar .drop1 a:hover{
    background-color: rgb(198, 198, 190);
}
.searchbar .search{
    width:50vw ;
}

.searchbar button{
    border-radius: 0.4rem;
    height:40px ;
    width: 40px;
    background-color: rgb(251, 206, 122);
}
.searchbar button:hover{
    background-color: rgb(225, 158, 35);
}
.language{
    height:10vh ;
    width: 6vw;
    background-color: rgb(37, 37, 66);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.language:hover{
    border: 2px solid white;
}
.language .img2{
    background-image: url(flag.png);
    background-size:cover ;
    background-repeat: no-repeat;
    height: 2vh;
    width: 1vw;
}
.language .drop2 button{
    background-color: rgb(37, 37, 66);
}
.language .drop2 button:hover{
    background-color: rgb(37, 37, 66);
}
.account{
    height: 10vh;
    width: 11vw;
    background-color: rgb(37, 37, 66);
    padding: 1rem;
}
.account:hover{
    border: 2px solid white;
}
.account .drop3 button{
    background-color: rgb(37, 37, 66);
    font-size: 12px;

}
.account p{
    color: white;
    line-height: 1px;
    margin-left: 5px;
    font-size: 15px;
}
.cart{
    text-align: center;
    border-right: 5px solid white;
}
.cart .img{
    height: 10vh;
    width: 8vw;
    background-image: url(cart.jpg);
    background-size: contain;
    
    border: none;
}

    .nav2{
        width: 100%;
        height: 6vh;
        background-color: #121820;
        
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #f1f1f1;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      .list-group{
          display: inline;
      }
      .list-group li{
          display: inline-block;
          background-color:#0e112c37 ;
          color: white;
          border: none;
      }
      .list-group li:hover{
          border: 1px solid white;
      }
      .moon{
        font-size: 1.5rem;
        transition: 0.5s;
    }
    .moon:hover{
        transform: scale(1.1);
    }
    .dark{
        background-color: black;
        color: white;
    }
    .fa-circle-half-stroke{
        margin-left: 2.5rem;
        margin-top: 1rem;
    }
    .nav2 span{
        color: white;
    }
    .boxes{
        position: absolute;
        top: 55vh;
        height: 120vh;
        width: 100vw;
        margin: auto;
        display: flex;
        background-color: rgba(143, 53, 53,0.);
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .box1{
        height :340px ;
        width: 340px;
        background-color: rgba(232, 242, 242, 0.8);
        margin: 1rem;
        border-radius: 1rem;
        padding: 1rem;
        text-align: center;
        transition: 1s;
    }
    .box1:hover{
        transform: translateY(-1rem);
    }
    .box1 h4{
        color: black;
    }
    .images{
        display: flex;
        flex-wrap: wrap;
    }
    .images img{
        height: 100px;
        width: 130px;
        margin-left: 1rem;
        margin-top: 1rem;
    }
    .btn-lg{
        background-color: bisque;
        color: black;
        font-weight: 800;
        transition: 1s;
    }
    .btn-lg:hover{
        background-color: rgb(238, 189, 128);
        
    }